# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
venv/
env/
ENV/
.env

# Datasets and Dumps
*.xml
*.bz2
*.gz
*.zip
*.md
*.txt

# Generated JSONL Shards
shard-*.jsonl
docs*.jsonl
*.jsonl

# Tantivy Search Indices
search.idx*
*.idx
*.bleve*

# Docker
.dockerignore

tests/